################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_ReSharper.Caches/ReSharperPlatformVs16203_a88a91cb.00
/.vs
/_ReSharper.Caches/ReSharperPlatformVs16211_a88a91cb.00
