[Unit]
Description=Transaction Processor ACL

[Service]
WorkingDirectory=/home/txnproc/transactionprocessoracl
ExecStart=/usr/bin/dotnet /home/txnproc/transactionprocessoracl/TransactionProcessorACL.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-transactionprocessoracl
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
