[Unit]
Description=Security Service

[Service]
WorkingDirectory=/home/txnproc/transactionprocessing/securityservice
ExecStart=/usr/bin/dotnet /home/txnproc/transactionprocessing/securityservice/SecurityService.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-securityservice
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
