[Unit]
Description=Estate Management

[Service]
WorkingDirectory=/home/txnproc/transactionprocessing/estatemanagement
ExecStart=/usr/bin/dotnet /home/txnproc/transactionprocessing/estatemanagement/EstateManagement.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-estatemanagement
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
