[Unit]
Description=Transaction Processor

[Service]
WorkingDirectory=/home/txnproc/transactionprocessing/transactionprocessor
ExecStart=/usr/bin/dotnet /home/txnproc/transactionprocessing/transactionprocessor/TransactionProcessor.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-transactionprocessor
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
