[Unit]
Description=Voucher Management

[Service]
WorkingDirectory=/home/txnproc/transactionprocessing/vouchermanagement
ExecStart=/usr/bin/dotnet /home/txnproc/transactionprocessing/vouchermanagement/VoucherManagement.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-vouchermanagement
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
