[Unit]
Description=Messaging

[Service]
WorkingDirectory=/home/txnproc/transactionprocessing/messagingservice
ExecStart=/usr/bin/dotnet /home/txnproc/transactionprocessing/messagingservice/MessagingService.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-messagingservice
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
