[Unit]
Description=Estate Reporting

[Service]
WorkingDirectory=/home/txnproc/estatereporting
ExecStart=/usr/bin/dotnet /home/txnproc/estatereporting/EstateReporting.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-estatereporting
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
