[Unit]
Description=Estate Administration  UI

[Service]
WorkingDirectory=/home/txnproc/estateadministrationui
ExecStart=/usr/bin/dotnet /home/txnproc/estateadministrationui/EstateAdministrationUI.dll
Restart=always
RestartSec=10                                          # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dotnet-estateadministrationui
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
