[Unit]
Description=Support Tools Health Checks

[Service]
WorkingDirectory=/home/txnproc/supporttools/healthcheckui
ExecStart=/usr/bin/dotnet /home/txnproc/supporttools/healthcheckui/TransactionProcessor.HealthChecksUI.dll
Restart=always
RestartSec=10                                          # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dotnet-supporttools-healthcheckui
User=txnproc
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
